:root {
  --bg-color: #151515;
  --dark-color: #242424;
  --font-color: #fff;
  --light-color: #f5bc00;
}

html {
  font-size: 1rem;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 70rem;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

/* HEADER*/
.header__name {
  font-size: 2rem;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation__link {
  margin-right: 1.25rem;
}

.header__about {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40rem;
}

/* MAIN */ 
.main__technologies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,  1fr));
  gap: 10px;
  list-style-type: none;
}

.main__projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project {
  overflow: hidden;
}

.project img {
  width:  100%;
  height: auto;
  border-radius: 20px;
}

/* MEDIA Q */
@media (max-width:  768px) {
  .header__about {
    width:  100%;
    text-align: center;
  }
  .main__projects {
    grid-template-columns:  1fr;
  }
  .project img {
    width:  100%;
    height: auto;
  }
}

@media (max-width:  768px) {
  h1 {
    font-size:  3.5rem;
  }
  h2 {
    font-size:  2rem;
  }
  h3 {
    font-size:  1.5rem;
  }
  .header__name {
    font-size:  1.5rem;
  }
  .main__technologies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,  1fr));

  }
  .description {
    text-align: center;
  }   
}

@media (max-width:  680px) {
  .header__navigation {
    flex-direction: column;
  }
  .navigation__link {
    margin-bottom:  1rem;
  }
  
}



@media (max-width:  490px) {
  h1 {
    font-size:  3rem;
  }
  h2 {
    font-size:  1.5rem;
  }
  h3 {
    font-size:  1.3rem;
  }
  .header__name {
    font-size:  1.5rem;
  }

  .main__technologies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,  1fr));
}

}