:root {
  --bg-color: #151515;
  --dark-color: #222121;
  --font-color: #fff;
  --light-color: #f5bc00;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  color: var(--light-color);
}

p {
  font-size: 1.3rem;
}

header,
main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER*/
.header__name {
  font-size: 2rem;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation__link {
  margin-right: 1.25rem;
}
.header__about span {
  color: var(--light-color);
}
.header__about {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40rem;
}

.header__about-description,
.header__about-heading {
  margin: 0.6rem 0;
}

.header__about-contact {
  margin: 4rem 0;
}

.header__about-link {
  color: var(--font-color);
  text-decoration: none;
}

/* MAIN */
.main__technologies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  justify-content: center;
  align-items: center;
}

.main__projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project {
  overflow: hidden;
}

.main-projects-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
/* FOOTER */
.footer {
  background-color: var(--dark-color);
  padding-bottom: 10rem;
  clip-path: ellipse(120% 100% at 50% 100%);
}

.footer__heading {
  padding-top: 4rem;
  margin: 0;
}

.footer__nav,
.footer__heading {
  display: flex;
  justify-content: center;
}

/* MEDIA Q */
@media (max-width: 768px) {
  .header__about {
    width: 100%;
    text-align: center;
  }
  .main__projects {
    grid-template-columns: 1fr;
  }
  .main-projects-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .header__name {
    font-size: 1.5rem;
  }

  .description {
    text-align: center;
  }

  .main_technology {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 680px) {
  .header__navigation {
    flex-direction: column;
  }
  .navigation__link {
    margin-bottom: 1rem;
  }
}

@media (max-width: 490px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .header__name {
    font-size: 1.5rem;
  }
}

/* HOVER */

a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--light-color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
